[2021-04-09 14:19] daissatou2 opened #1 "New jobs for GRS CommCare to Salesforce sync"
## Background, context, and business value

GRS is working with Dimagi and OpenFn to design and deploy CommCare workflows across their organization to allow for Youth Mentors to leverage the advantages that come with mobile data collection. This CommCare implementation will also include automated data integration between CommCare and Salesforce.

Example: As a Youth Mentor hosting a Malaria Testin

[2021-04-13 05:28] aleksa-krolls commented on #1
@daissatou2 Some quick feedback... if I'm new to this project reading this issue, it's not clear to me what each job is doing. Please...
1. Be more descriptive about what each job is doing. Reference your `Form Objects` sheet as needed.
For example...
[code]
2. Share the schema (see notes doc) so Mamadou can better visualize the relationships
3. For any relationship/ look up fields (e.g., `Site__c

[2021-04-16 05:45] aleksa-krolls commented on #1
@daissatou2 please assign this issue to me if it's ready for final review & to put into the backlog.

[2021-04-19 05:20] aleksa-krolls commented on #1
@lakhassane this is ready for devpt. Please walk through with @daissatou2 if you have any questions - she's the lead on this project.

[2021-04-23 11:00] lakhassane commented on #1
@daissatou2 I made a draft for the diffrerent jobs according to the sheet. However, RegisterParticipant might need more checking. Im still not sure about how to understand that tab and the lookup value `Attendance` while upserting `Person`

[2021-04-27 15:38] hnyende opened #2 "GRS CommCare to Salesforce"
## Background, context, and business value

## The specific request, in as few words as possible

Create the following jobs that execute the following steps:
Extract forms from CommCare
1. GET the following form data from CommCare:
`Pre Challenges`
`Post Challenges`
`Register Event`
`Service Referral Followup`
`Service Referral`
`Aggregate Service Referrals`
`Register Skills Plus Club`
`ART Adhere

[2021-04-27 21:50] daissatou2 opened #3 "GRS CommCare to Salesforce sync more forms"
## Background, context, and business value

See original issue #1.

## The specific request, in as few words as possible
[See here](https://docs.google.com/spreadsheets/d/1CXrMYL0hELSeRkjJLUROTR0A3udJ0Yq8PQZhUtTQokk/edit#gid=0) for the mapping sheet.

Create the following jobs that execute the following steps:
_Extract forms from CommCare_

1. GET the following form data from CommCare:
`Home Visit

[2021-04-30 01:59] aleksa-krolls commented on #3
@taylordowns2000 we have a load of GRS jobs that need work. Preferably Mamadou can focus on the more complex Primero, WCS, and MF issues over the next couple days where he has lots of context. Is there any other engineer who can jump on this today/ next week? This is the bottleneck I was anticipating...

[2021-04-30 06:27] taylordowns2000 commented on #3
Absolutely. @chaiwa-berian or I can look at this (and the other) as soon as we submit on DS!

[2021-05-05 17:45] aleksa-krolls commented on #1
@lakhassane @daissatou2 and I have some questions about job 1 and how it works...
## Steps to replicate
1. We ran the job like this where we commented out things to only fetch the forms for 2 `xmnls` ids:
[code]
see job version: https://github.com/OpenFn/grassroot-soccer/blob/e4e4df77f75a2162df40fa588c1eca7ef4a954c4/jobs/1.getForms.js

2. This GET request should have fetched submissions for both f

[2021-05-05 18:05] lakhassane commented on #1
@aleksa-krolls @daissatou2 the issue was with the posting to openfninbox actually. I made the change and both forms are being sent to the inbox (see last messages: https://www.openfn.org/projects/pd3yk4/messages)

[2021-05-05 18:28] aleksa-krolls commented on #1
Thanks @lakhassane seems to be working now :)
cc @daissatou2 the job 1 should be good to go

[2021-05-06 08:18] aleksa-krolls commented on #2
@chaiwa-berian please note @hnyende  Slack comment re: new version of state for `upsertServiceReferralFollowup`:
https://www.openfn.org/projects/pd3yk4/messages/mn5e37pb

Then, when you are done drafting v1 of these jobs and don't need additional answers to finish the initial setup... please move this issue to the `Review` column of the board. Thank you!

[2021-05-06 08:20] aleksa-krolls commented on #3
@daissatou2 looks like the new salesforce release is done: https://openfn.slack.com/archives/G2LJCFFDW/p1620280297071000

@taylordowns2000 confirming we're good to test now?

[2021-05-06 18:04] chaiwa-berian commented on #2
@aleksa-krolls noted, but I would wait for @hnyende or @daissatou2  to update the details in [this](https://docs.google.com/spreadsheets/d/1CXrMYL0hELSeRkjJLUROTR0A3udJ0Yq8PQZhUtTQokk/edit#gid=1932601708&range=A:A) and [this](https://docs.google.com/spreadsheets/d/1CXrMYL0hELSeRkjJLUROTR0A3udJ0Yq8PQZhUtTQokk/edit#gid=1932601708&range=H:H) column then I will make updates to `upsertServiceReferralFo

[2021-05-07 10:26] aleksa-krolls opened #4 "Function to clean CommCare choice values"
## Background
See issue #1 for original specs.

## Request
Add function to clean the state data value by (1) replacing `_` with spaces and (2) capitalizing the first character of every word. For example:
`not_school_related` ==> `Not School Related`
`excellent` ==> `Excellent`

Start with these 2 jobs and we will copy this data cleaning function and apply throughout other jobs where it is needed.

[2021-05-07 10:31] aleksa-krolls opened #5 "Register Participant values look undefined for name, sex, etc."
## Background, context, and business value
See issue #1 for original specs. See this run where `First_Name__c`, `Surname__c`, `Sex__c` and other identifying fields are returning `undefined`... can you check the job and mappings to verify?
https://www.openfn.org/projects/pd3yk4/runs/r7xrk749

## expression
https://github.com/OpenFn/grassroot-soccer/blob/master/jobs/2.d.upsertRegisterParticipant.js

[2021-05-07 10:40] aleksa-krolls opened #6 "Update coach mapping logic"
## Background
See issue #1 for original specs.

## Request
An Event may have more than 1 Coaches ... it depends (Coach A, Coach B, etc.). If there is more than 1 Coach specified, we need to map them to the relevant Salesforce field...
Coach A = coach 1
Coach B = coach 2
Coach C = coach 3
Coach D = coach 4
If there is a coach 5 or more... don't map to the Event record.

I tried to implement this ma

[2021-05-07 16:06] aleksa-krolls commented on #4
@chaiwa-berian Can you please go ahead and implement this clean function on L44: https://github.com/OpenFn/grassroot-soccer/blob/master/jobs/2.a.upsertInterventions.js#L44

Then please re-run this on OpenFn.org to make sure it works: https://www.openfn.org/projects/pd3yk4/runs/r7xrk7rr

[2021-05-07 16:07] aleksa-krolls commented on #5
@chaiwa-berian can you take this on today or Monday?

[2021-05-07 16:07] aleksa-krolls commented on #6
@chaiwa-berian please also check this out today or Monday

[2021-05-07 19:49] chaiwa-berian commented on #4
@aleksa-krolls This is already implemented for `upsertIntervention`. The logic is [here](https://github.com/OpenFn/grassroot-soccer/blob/3d6e0466508a71e0352b202f7510692a22d4560f/jobs/2.a.upsertInterventions.js#L12). Here is the [re-run](https://www.openfn.org/projects/pd3yk4/runs/rrkzr67d). It won't be easy for me to figure out where else this function is needed.

[2021-05-10 08:57] taylordowns2000 commented on #5
@aleksa-krolls, @daissatou2 , for some messages (https://www.openfn.org/projects/pd3yk4/messages/mk5a66v8 - the message which produced the `undefined` above) it appears that `form.question1` is an array of objects. For other messages (https://www.openfn.org/projects/pd3yk4/messages/mgk5gdvb) and for the mapping provided on the specifications spreadsheet, it's a single object.

Questions from me/ @

[2021-05-10 09:28] aleksa-krolls commented on #5
@taylordowns2000 @chaiwa-berian Thanks for flagging as we hadn't seen a submission with multiple items in the array yet. It looks like this CommCare form allows users to register 1 or multiple participants.  Therefore `question1` is like a repeat group, and we should register 1 Participant for `each` item in the `question1:[...]`.

Can you please adjust the job to handle this potential array of pa

[2021-05-11 11:36] #4 closed

[2021-05-11 11:51] aleksa-krolls commented on #5
@chaiwa-berian please work on this to handle the array. See my comment above.

[2021-05-11 11:53] aleksa-krolls opened #7 "Repeated mappings in Pre and Post jobs - return whichever value is present"
## Background, context, and business value
See issue #1 for original specs and [mapping specs](https://docs.google.com/spreadsheets/d/1CXrMYL0hELSeRkjJLUROTR0A3udJ0Yq8PQZhUtTQokk/edit#gid=1984524436).

## Request
Apologies we did not catch this before in the mapping specs... but we are seeing the same Salesforce destination field referenced multiple times in 1 job, which is not allowed.

Depending

[2021-05-11 13:02] taylordowns2000 commented on #5
Ah! OK, I think we've seen this before... didn't we "enforceArray" for some other client? Where's the job library when you need it? @aleksa-krolls , @lakhassane , do you remember where we did this before?

[2021-05-11 13:41] chaiwa-berian commented on #5
@aleksa-krolls This is fixed, see run [here](https://www.openfn.org/projects/pd3yk4/runs/rg5nzree).

[2021-05-11 17:23] daissatou2 opened #8 "Fix mapping errors in Service Referral Job"
## Describe the bug
Upsert Service Referral Job isn't properly mapping the fields highlighted in green in the mapping [sheet](https://docs.google.com/spreadsheets/d/1CXrMYL0hELSeRkjJLUROTR0A3udJ0Yq8PQZhUtTQokk/edit#gid=244298328).
Each option for the CommCare form questions map to a separate SF field. If the option is selected, check the box for the corresponding SF field.

## To Reproduce
1. Here

[2021-05-12 09:32] aleksa-krolls commented on #5
@chaiwa-berian We had to update the path to `@case_id` based on state. The job is now failing with a type error? See here: https://www.openfn.org/projects/pd3yk4/runs/rd78rpzp
Why? Is it maybe because of the `@` character?

State to use: https://www.openfn.org/projects/pd3yk4/messages/mn575657
Expression: `jobs/2.d.upsertRegisterParticipant.js`

[2021-05-12 09:36] aleksa-krolls opened #9 "Update Attendance job to upsert 1 Attendance for each item in array"
## Background, context, and business value
This is similar to changes made for issue #5 .

## The specific request, in as few words as possible
For every 1 `item:[...]` in state, upsert `Attendance__c`.

## state.json
https://www.openfn.org/projects/pd3yk4/messages/mn575657

## expression.js
https://github.com/OpenFn/grassroot-soccer/blob/master/jobs/2.d.upsertRegisterParticipant.js

## output.jso

[2021-05-12 09:53] aleksa-krolls commented on #7
@chaiwa-berian In response to your slack comments (https://openfn.slack.com/archives/G2LJCFFDW/p1620733998017300)...

It's okay if all the fields are not present in `state`. We expect that sometimes fields will not be present if the user has not been prompted to answer that question in CommCare... therefore some fields might return `undefined` until an answer in CommCare is provided.... so please

[2021-05-12 10:32] chaiwa-berian commented on #5
@aleksa-krolls Yes, the `merge` is creating another field called `case_id` which we use in subsequent `field` operations like here ` field('Participant_Identification_Number_PID__c', dataValue('case_id')),`. So that caused the error.

[2021-05-12 11:16] chaiwa-berian commented on #5
@aleksa-krolls , @daissatou2 and I fixed this!

[2021-05-12 11:30] daissatou2 opened #10 "Fix mappings for answer choices on multiple choice questions in PHQ9 form"
## Describe the bug
The mappings for 2 multiple choice questions on the PHQ9 form are not matching with the answer choices in Salesforce. The transformations required are in the mapping [sheet](https://docs.google.com/spreadsheets/d/1CXrMYL0hELSeRkjJLUROTR0A3udJ0Yq8PQZhUtTQokk/edit#gid=225222898). The two questions are:
`/begin_interview/position_of_respondent_in_the_household`
`/begin_interview/w

[2021-05-12 12:04] chaiwa-berian commented on #7
@aleksa-krolls  Yes this has been addressed, @daissatou2 will test this and recommend if anything else. Thanks.

[2021-05-12 12:07] chaiwa-berian commented on #9
@aleksa-krolls , @daissatou2  and I worked on this, and it works. Pushing it to review. Thanks.

[2021-05-12 12:50] daissatou2 commented on #7
@chaiwa-berian We are now seeing a new error with the `Pre Challenges` and the `Post Challenges` forms. The mappings for 2 multiple choice questions on the PHQ9 form are not matching with the answer choices in Salesforce. The transformations required are in the mapping sheet.

[2021-05-12 12:50] daissatou2 commented on #7
@chaiwa-berian We are now seeing a new error with the `Pre Challenges` and the `Post Challenges` forms. The mappings for 2 multiple choice questions on the PHQ9 form are not matching with the answer choices in Salesforce. The transformations required are in the mapping sheet.

[2021-05-12 12:53] daissatou2 commented on #7
@chaiwa-berian We are now seeing a new error with the `Pre Challenges` and the `Post Challenges` forms. The mappings for the pre and post questions on the forms are not matching with the answer choices in Salesforce. The transformations required are in the mapping [sheet.](https://docs.google.com/spreadsheets/d/1CXrMYL0hELSeRkjJLUROTR0A3udJ0Yq8PQZhUtTQokk/edit#gid=1430571172) in green. Please let

[2021-05-12 14:06] chaiwa-berian commented on #7
@daissatou2  I have written the **transform function** as below but there are other **choices** that are still un-mapped:
[code]
Here is the output:
[code]
If answer is **yes**, **no**, or **agree**. What should we do?

[2021-05-12 15:15] chaiwa-berian commented on #7
@aleksa-krolls , @daissatou2  and I cleaned-up the two jobs and ready for review!

[2021-05-12 17:06] chaiwa-berian commented on #8
@aleksa-krolls, @daissatou2  and I started working on this issue and below is the update:
1. The job has been updated with a [function to map checked options](https://github.com/OpenFn/grassroot-soccer/blob/650127ed438499c9da112d7aa5e5304605743eb7/jobs/upsertServiceReferral.js#L2-L7) to **true** or **false** based on whether they are present in the respective `check_the_services_that_client_was_re

[2021-05-12 21:22] #5 closed

[2021-05-12 21:23] #7 closed

[2021-05-12 21:23] #9 closed

[2021-05-12 21:24] #1 closed

[2021-05-12 21:24] #3 closed

[2021-05-12 22:31] aleksa-krolls opened #11 "Handle 1 or multiple attendance entries in `upsertAttendance.js`"
See issue #9 for a similar fix implemented.

## Issue
Job `upsertAttendance.js` currently fails because it cannot handle an array of multiple Attendance records. If only 1 attendance is entered, CommCare form outputs an object (`item: {...}`), but outputs an array if there are multiple attendance entries (`item: [{...},{...}]`). We need to update the job to handle both scenarios.

We tried editing

[2021-05-14 08:24] chaiwa-berian commented on #11
@aleksa-krolls , I have updated the job to `handle 1 or multiple attendance entries` and  I also have some [mapping questions](https://github.com/OpenFn/grassroot-soccer/blob/master/jobs/upsertAttendance.js) added **in-line**. Let me know if this works after addressing [these questions](https://github.com/OpenFn/grassroot-soccer/blob/master/jobs/upsertAttendance.js).

[2021-05-14 09:44] chaiwa-berian commented on #10
@aleksa-krolls and @daissatou2 , this is fixed. See the run [here](https://www.openfn.org/projects/pd3yk4/runs/rwaew43z). Thanks.

[2021-05-14 09:51] chaiwa-berian commented on #8
@aleksa-krolls , for me to make progress on this issue, I need the things I asked for in this comment.

[2021-05-14 10:05] aleksa-krolls commented on #11
@chaiwa-berian looks like this version of state (see #1 above) _does_ have `intervention_name`. Can you please make sure the job works for this state also? https://www.openfn.org/projects/pd3yk4/messages/mdbqpvpn

I'm working on finding a different version of state for #2 where there are multiple attendance entries. In the meantime, pls make sure the `CommCare_Ext_ID__c` is set correctly and conta

[2021-05-14 11:38] chaiwa-berian commented on #8
@aleksa-krolls , @daissatou2  and I updated the mappings for this job. We are getting the error below, and once @daissatou2 fixes it, we should be good to test:

[code]

[2021-05-14 12:21] chaiwa-berian commented on #11
@aleksa-krolls  This job is now correctly resolving `intervention_name` but it fails on `ids` not being found in `Person__c` and `Event__c`. Kindly verify we are pointing to the right paths or that the `ids` exist in `Salesforce`. See a [re-run](https://www.openfn.org/projects/pd3yk4/runs/ryaeb9pw) with this message: https://www.openfn.org/projects/pd3yk4/messages/mdbqpvpn

[2021-05-17 06:58] sentry-io[bot] opened #12 "GRS Motech CommCare submission error"
Something is off with the form submission that's making the XML parser blow up. See email "MOTECH Error" for more details.

Sentry Issue: [PLATFORM-1DK](https://sentry.io/organizations/openfn/issues/2401558850/?referrer=github_integration)

[code]

[2021-05-17 07:58] taylordowns2000 commented on #12
Update: the client doesn't actually want to send XML to OpenFn. We're updating this to throw a more useful `422` when XML that we can't parse arrives.

[2021-05-17 10:33] taylordowns2000 commented on #12
@stuartc , i'm happy with the current `400` from `PlugParser`, but these are payloads that could help us figure out why it's unable to parse. the first 2 work and the 3rd fails:

### handled by funkyXML properly:
[code]

[code]

### and this blows up
[code]

[2021-05-17 16:22] chaiwa-berian commented on #8
@daissatou2 note the below updates:

1. I have updated the `upsertServiceReferral` job to handle `other` fields correctly as shown [here](https://github.com/OpenFn/grassroot-soccer/blob/fe5da446d7bd0a307389c21f074a793733ef1907/jobs/upsertServiceReferral.js#L217-L223).

2. I have also updated the [upsertServiceReferralFollowup](https://github.com/OpenFn/grassroot-soccer/blob/master/jobs/upsertServi

[2021-05-18 11:08] daissatou2 opened #13 "Calculate Age from DOB for PHQ9 form"
## Background, context, and business value

Calculate age using `form.hidden_properties.date_of_birth` and today's date and store in `Age_of_Participant__c` in Salesforce.

## state.json
https://www.openfn.org/projects/pd3yk4/messages/mwbaa8a5

## output.json
1. Rerun this https://www.openfn.org/projects/pd3yk4/runs/rx858zky
2. Confirm correct age is being mapped to `Age_of_Participant__c`

[2021-05-18 14:23] chaiwa-berian commented on #13
@aleksa-krolls This is fixed. See run [here](https://www.openfn.org/projects/pd3yk4/runs/ryak5njd).

[2021-05-19 15:11] #11 closed

[2021-05-19 15:11] aleksa-krolls commented on #13
@daissatou2 if this is all resolved, can you please close the issue? (Keep open if you're anticipating any further feedback.)

[2021-05-20 13:15] daissatou2 commented on #8
@chaiwa-berian The Service Referral form is returning false even if the item is present in the message. Example:
This run is assigning false to VMMC_GRS_Staff__c : https://www.openfn.org/projects/pd3yk4/runs/r89848wb

[2021-05-21 14:09] daissatou2 opened #14 "Missing mappings in Register Participant job - return whichever value is present"
## Describe the bug
There are two versions of the `Register Participant` form. The `Upsert Register Participant` job should be able to handle both versions of the form. I.e the job should recognize both paths for one particular field.

Ex. `form.question1.participant_first_name` & `form.new_participants.participant_first_name` should both map to `First_Name__c`.

Currently, the Skillz Plus Club ve

[2021-05-24 06:10] #10 closed

[2021-05-24 06:39] #13 closed

[2021-05-24 07:47] taylordowns2000 commented on #14
While moving `new_participants` into a `question1` array definitely sounds like it needed to be done*, it doesn't resolve the `Cannot read property '@case_id' of undefined` error. I'll take a look at that next.

* @daissatou2 , have I interpreted this correctly?

[2021-05-24 08:02] taylordowns2000 opened #15 "Map case data from Skillz Plus Club Register Participants form to Salesforce"
@daissatou2 , @aleksa-krolls , the [general form](https://www.openfn.org/projects/pd3yk4/messages/mpq5em6e) has a structure like this inside `state.data.form`:
[code]
And once inside the `question1` array, we attempt to access `@case_id` via `state.data.case['@case_id']`. :heavy_check_mark:

The structure of a [skill plus club form](https://www.openfn.org/projects/pd3yk4/messages/m6645zqa), howeve

[2021-05-24 08:04] aleksa-krolls commented on #14
@taylordowns2000 the case_id path is `new_participants[*].create_skillz_plus_participant.case.@case_id` so looks like just need to add `create_skillz_plus_participant` to the path? Or is it more complicated b/c the operation is within the `each(...)`?
![image](https://user-images.githubusercontent.com/16758106/119316488-adf03080-bc7f-11eb-8c42-4fa4a14c2e91.png)

[2021-05-24 08:07] aleksa-krolls commented on #15
@taylordowns2000 yes, that is correct. See my comment [here](https://github.com/OpenFn/grassroot-soccer/issues/14#issuecomment-846857083) and please follow the path `create_skillz_plus_participant` for the Skillz club plus form.

@daissatou2 when Taylor has made this change and you're testing, consider if this path `create_skillz_plus_participant` should be added to the other questions as well (if

[2021-05-24 08:15] taylordowns2000 commented on #15
Addressed in above commit. See https://www.openfn.org/projects/pd3yk4/runs/r3xmjj84

[2021-05-24 08:17] taylordowns2000 commented on #14
This is a separate issue but was resolved over here: https://github.com/OpenFn/grassroot-soccer/issues/15

Thank you for the mapping!

[2021-05-24 09:59] #8 closed

[2021-05-24 17:02] daissatou2 opened #16 "Create new upsert job for Attendance Skillz Plus Club"
## Background, context, and business value

The `Attendance` form for `Skillz Plus Clubs` does not send us the session name or number. The job should decide which session to map attendance to by checking which is the earliest session that is `null`.

## The specific request, in as few words as possible
When uploading this form data, for each `form.attendance_list.update_participant_cases.item[*]`.

[2021-05-25 06:38] aleksa-krolls commented on #16
@daissatou2 Pls note....
1. Fyi, I added steps 1-2 I added to reflect changes I made in the existing Attendance job, because I don't see that `intervention_name` is provided in this state... so we need to look-up this name using the case_id, which is available to us.
2. Then, for steps 3-4 I added details you left out, including... (1) defining what is the source path that tells us where the Atten

[2021-05-25 06:41] aleksa-krolls commented on #14
@daissatou2 @taylordowns2000 can we close this issue?

[2021-05-25 10:50] daissatou2 commented on #16
This is ready.

[2021-05-25 10:51] aleksa-krolls commented on #16
@taylordowns2000 This grs issue is ready. Let me and @daissatou2 know if you have questions.

[2021-05-25 10:55] #14 closed

[2021-05-25 12:25] daissatou2 opened #17 "Map Risk & Vulnerability Assessment | Service Referral - Treatment, Care and Support form to Salesforce"
## Background, context, and business value

The `Risk & Vulnerability Assessment | Service Referral - Treatment, Care and Support` form can upsert both the `Risk_Assessment__c` object and the `NewReferral__c` object depending on how it is filled out. Use the [mapping sheet](https://docs.google.com/spreadsheets/d/1CXrMYL0hELSeRkjJLUROTR0A3udJ0Yq8PQZhUtTQokk/edit#gid=1668919710) to create a job that

[2021-05-25 16:39] daissatou2 opened #18 "Map Service Referral Followup form to Salesforce"
## Background, context, and business value

There are two versions of the Service Referral Followup (aka Confirm Services Received) form. The second version is already upserting properly with this [job](https://www.openfn.org/projects/pd3yk4/jobs/jyzqem). Create another job that upserts the first version of the form into Salesforce.

## The specific request, in as few words as possible

This job s

[2021-05-26 00:14] taylordowns2000 commented on #16
Sounds good. I'm shutting down for now and didn't get to this, but @chaiwa-berian is back online in the morning so I'm re-assigning to him.

[2021-05-26 07:04] aleksa-krolls commented on #17
@chaiwa-berian @taylordowns2000 this is the second GRS issue to be worked on today. Let @daissatou2 know if you have any questions.

[2021-05-26 07:49] chaiwa-berian commented on #16
@aleksa-krolls @daissatou2 Is the `Skills plus club attendance form` a **section** of the `Attendance form` in CommCare?

[2021-05-26 14:17] aleksa-krolls commented on #18
@daissatou2 As discussed, the mappings in your sheet include `service_type`... which I don't see in this Message state. Therefore this existing job should work to process this data: https://www.openfn.org/projects/pd3yk4/jobs/jyzqem

[2021-05-26 14:17] #18 closed

[2021-05-26 15:06] chaiwa-berian commented on #17
@aleksa-krolls @daissatou2 This [job](https://github.com/OpenFn/grassroot-soccer/blob/master/jobs/upsertRiskVulnerabilityNewReferrals.js) is ready for testing. Kindly link it to a job in `prod` whenever you are ready to test. The biggest surprise is mapping the `X4_0_Forms_of_abuse_experienced_before__c` picklist. When you have a moment, tomorrow morning, @daissatou2 or @aleksa-krolls kindly let m

[2021-05-26 15:42] daissatou2 commented on #17
Thanks Chaiwa! I've already let the client know to update the data type for `X4_0_Forms_of_abuse_experienced_before__c` to multi-select, so we'll wait for that and update the jobs as necessary.

[2021-05-27 00:42] daissatou2 commented on #17
@chaiwa-berian @aleksa-krolls
The job is [passing](https://www.openfn.org/projects/pd3yk4/runs/r3xmwkxm) for the [message](https://www.openfn.org/projects/pd3yk4/messages/m664jnp8) that upserts both NewReferral__c and Risk_Assessment__c.

However, it is failing for the messages where we're upserting only one of the objects (because the other object's fields are missing in the message). See runs be

[2021-05-27 06:38] aleksa-krolls commented on #17
@chaiwa-berian Can you please check out @daissatou2 feedback this morning?
cc @taylordowns2000

[2021-05-27 06:39] aleksa-krolls commented on #16
@daissatou2 What's going on with this one? Were you able to resolve Chaiwa's questions? This morning please test to provide feedback or close this issue if resolved - thanks!

[2021-05-27 08:55] chaiwa-berian commented on #17
@aleksa-krolls @daissatou2 This is fixed [here](https://github.com/OpenFn/grassroot-soccer/blob/master/jobs/upsertRiskVulnerabilityNewReferrals.js), but **blocked** by [this PR](https://github.com/OpenFn/language-salesforce/pull/22). So you would wait until the [PR](https://github.com/OpenFn/language-salesforce/pull/22) language-salesforce is merged.

Cc:
@taylordowns2000 @stuartc

[2021-05-27 09:44] daissatou2 commented on #16
@chaiwa-berian is this job in production? I can't find on Github.

[2021-05-27 13:36] #15 closed

[2021-05-28 05:31] aleksa-krolls commented on #16
@chaiwa-berian What's the status of this one here? Still in progress? I'm moving to the top of the backlog in case there is still work to be done.

cc @taylordowns2000 @daissatou2

[2021-05-28 09:56] chaiwa-berian commented on #16
@aleksa-krolls  The job is linked and ready for testing. Getting this error but it should be quick to fix by you or @daissatou2 .
[code]

[2021-05-28 10:28] chaiwa-berian commented on #17
@aleksa-krolls @daissatou2 , This is fixed. I tested the three messages below and they all pass:
1. https://www.openfn.org/projects/pd3yk4/runs/rrk3pa8m
2. https://www.openfn.org/projects/pd3yk4/runs/rwapym98
3. https://www.openfn.org/projects/pd3yk4/runs/raaw43xa

[2021-05-28 10:32] #17 closed

[2021-05-28 14:33] #16 closed

[2021-06-03 15:54] daissatou2 opened #20 "Update Register Participant job to handle state files that have no participants"
## Describe the bug
The `Register Participant` form in CommCare can be submitted without any new participants listed. When we receive a message where 'form.question1` is undefined (i.e not in the message), nothing should be upserted. The job should exit and return the statement "Nothing to upsert. No participants were registered".

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wh

[2021-06-04 11:20] aleksa-krolls commented on #20
@lakhassane adding to bottom of backlog... when you get to it, let @daissatou2 know if you have questions.

[2021-06-04 13:10] daissatou2 opened #21 "Remove non-integers from Grade field in Pre Challenges and Post Challenges jobs"
## Background, context, and business value

In a few of the state files for `Pre Challenges` and `Post Challenges`, the `form.hidden_properties.grade` field has an alphabetic character.  In Salesforce the data type is `integer`. This causes the sync to fail: https://www.openfn.org/projects/pd3yk4/runs/rx85yw3n

## The specific request, in as few words as possible

In the `Pre Challenges` and `Post

[2021-06-07 11:41] lakhassane commented on #20
@daissatou2 corrections done: https://www.openfn.org/projects/pd3yk4/runs/r9wbza95

[2021-06-07 11:50] #20 closed

[2021-06-07 13:51] lakhassane commented on #21
@daissatou2  I made the corrections. However I can't see `grade`in `upsertPostChallenge`.

[2021-06-07 16:05] #21 closed

[2021-06-10 05:41] aleksa-krolls opened #22 "If no `coach_name` in state, search for existing Coach via Event"
## Request
We need to always link this Attendance record to a Coach, but sometimes `coach_name` is missing from state.
https://github.com/OpenFn/grassroot-soccer/blob/6a94aa024ece0ba03f5980dd046fefbfc8b2f506/jobs/upsertCoachSessionRegister.js#L56

Please add logic so that if `form.coach_name` is not defined, then...
[code]
Then return the value of `Coach_A__c` in this mapping on L56...
[code]

##

[2021-06-10 12:15] lakhassane commented on #22
@aleksa-krolls the coach_name is being set using the query you typed there. But seems like it does not exist in the lookup table: https://www.openfn.org/projects/pd3yk4/runs/rwaga4y4

[2021-06-10 13:01] aleksa-krolls commented on #22
@lakhassane ok, so I tried to make one change... but then I reverted back to your latest version. Since you removed alterstate, I don't think this job is working. See latest run: https://www.openfn.org/projects/pd3yk4/runs/r3xjxpak

Then, please replace like L58 with the query returned value for `Coach_A__r.CommCare_Ext_ID__c` (not `Coach_A__c`).
https://github.com/OpenFn/grassroot-soccer/blob/c92

[2021-06-10 13:20] daissatou2 opened #23 "Update Risk & Vulnerability Assessment | Service Referral and Upsert Service Referral jobs to handle state files that have no service referrals"
## Background, context, and business value

The `Risk & Vulnerability Assessment | Service Referral` and `Upsert Service Referral` forms in CommCare can be submitted without any new service referrals selected. When we receive a message with no service referrals selected, the job should gracefully exit and not attempt to upsert a referral.

## The specific request, in as few words as possible

When

[2021-06-10 13:25] aleksa-krolls commented on #23
@daissatou2 moving to backlog, thanks!

[2021-06-10 17:06] lakhassane commented on #22
@aleksa-krolls I made the change and re-runned the job: https://www.openfn.org/projects/pd3yk4/runs/rj5ja4ex

[2021-06-10 18:53] lakhassane commented on #23
@daissatou2 I made the change and re-run the transaction: https://www.openfn.org/projects/pd3yk4/runs/rrk7nk7d

I made the same logic for `upsertServiceReferrals`

[2021-06-10 21:32] #23 closed

[2021-06-11 09:00] #22 closed

[2021-06-14 11:12] daissatou2 opened #24 "Update the Upsert Home Visit Log Form job to link Home Visits to Events using the participant case id"
## Background, context, and business value

See #3 for project background.

Update the `Upsert Home Visit Log Form` job to link Home Visits to Events using the participant case id (`form.case.@case_id`) if the event name (`form.basic_information.intervention_hidden`) is not in the form.

## The specific request, in as few words as possible
If the event name (`form.basic_information.intervention_hi

[2021-06-15 12:35] lakhassane commented on #24
@daissatou2 I implemented the right logic.

Howver, the query provided does not seem to work. I'm having an issue saying `No such column 'CommCare_External_ID__c' on entity 'Person__c'`.

Can you advise on the right query and I could replace it on the job. Otherwise, everything is mapped as supposed to.

[2021-06-15 12:40] daissatou2 commented on #24
@lakhassane Instead of `CommCare_External_ID__c` please use `Participant_Identification_Number_PID__c`

[2021-06-15 12:54] daissatou2 opened #25 "Attendance 2 Job Error"
## Describe the bug
`Attendance` and `Attendance 2` are identical jobs that just have different triggers.

Why is [`Attendance`](https://www.openfn.org/projects/pd3yk4/jobs/jyjxnx) passing and [`Attendance 2`](https://www.openfn.org/projects/pd3yk4/jobs/jvrqxp) failing for the same [message](https://www.openfn.org/projects/pd3yk4/messages/mgkb54wq)? Please take a look at the associated runs for th

[2021-06-15 13:35] aleksa-krolls commented on #25
@daissatou2 Looks like this Attendance 2 job was on the `latest` Salesforce adaptor version and not version `v2.0.0`. I updated the job and was able to successfully re-run: https://www.openfn.org/projects/pd3yk4/runs/rg5r3zpa
Can you please check out the output? If it looks good, go ahead and re-run these Attendance 2 runs.

@lakhassane can you remind us why we're on this specific Salesforce adapt

[2021-06-15 13:38] lakhassane commented on #25
@aleksa-krolls it's because it's not release on prod yet. We were waiting to test and see if there is no update needed on salesforce.

I will release that version for Taylor so `latest`will work, but it's preferable if those jobs are locked on `v2.0.0`

[2021-06-15 13:39] lakhassane commented on #24
@daissatou2 corrected it and the mapping is correct now

[2021-06-15 13:59] aleksa-krolls commented on #25
@lakhassane no rush to release, just good to know for us. @taylordowns2000 please make sure all client Salesforce jobs are version-locked before we do any big release.

[2021-06-15 13:59] #25 closed

[2021-06-17 07:25] #24 closed

[2021-08-04 23:56] daissatou2 opened #26 "Project concurrency not respected when bulk re-processing messages?"
## Describe the bug
I was bulk reprocessing messages with the last failed runs in the GRS project and noticed that these two runs started at the same time:
https://www.openfn.org/projects/pd3yk4/runs/rd76zgrp
https://www.openfn.org/projects/pd3yk4/runs/r446zrnx

This resulted in duplicate records being created in Salesforce, even though we are using the `Upsert` function. They should have run one

[2021-08-05 03:55] aleksa-krolls commented on #26
@taylordowns2000 low priority, but a funny thing we noticed... perhaps something to discuss with @daissatou2 while it's fresh in her mind sometime this week.

[2021-08-05 05:32] taylordowns2000 commented on #26
Hey @daissatou2 , this is pretty strange. Seems like (at least) two separate things going on:

1. Why did these runs both start at the same time (roughly) even though the concurrency is set to 1.
2. How could Salesforce create two different records with the same unique, external ID.

On `#2`, I'm realising that we've made this `CommCare_Case_ID__c` field non-unique. Is that intentional? Is there a

[2021-08-05 11:15] daissatou2 commented on #26
@taylordowns2000 on 2, the `CommCare_Case_ID__c` should be unique. And yes, we deleted the duplicate record in SF.

Can I close this one since it's being addressed here? https://github.com/OpenFn/platform-app/issues/1384

[2021-08-05 12:14] taylordowns2000 commented on #26
Yes, go for it! (To confirm: did you implement that uniqueness constraint
in Salesforce already?)

On Thu, Aug 5, 2021 at 12:15 PM daissatou2 ***@***.***> wrote:

[2021-08-06 17:49] #26 closed

[2021-08-11 14:45] daissatou2 opened #27 "Bulk Get CommCare Forms Job not retrieving messages for `Register Skillz Plus Club` form"
## Describe the bug
The `Get CommCare Forms Bulk` job does not post any new messages to the inbox when we run it with only the `Register Skillz Plus Club` xmlns uncommented. We know that there is data in CommCare for this form so running the job should post messages to the inbox.

[CommCare data for this form](https://www.commcarehq.org/a/grassrootsoccertrial/reports/case_data/990221ac-3c05-475d-8

[2021-08-11 16:16] daissatou2 opened #28 "Upsert Risk & Vulnerability Assessment | Service Referral job failure"
## Describe the bug
I made a change to the `Upsert Risk & Vulnerability Assessment | Service Referral` job today to address an issue the client flagged. However, my changes are currently failing. Basically, there are various versions of this job that we need to be able to handle.

Feel free to revert my changes from today, the intended changes are below:
1. We only want to upsert a `NewReferral` i

[2021-08-12 10:13] lakhassane commented on #27
@daissatou2 this form proly exists, however I think we are not reaching it.
When querying the list of forms in postman I see a total of `6565` form but the query by default only limits to `1000` reason why we can't see the `Register Skillz Plus Club` (I guess). To get the whol list of form we need to use this next key until it's over.

<img width="796" alt="Screen Shot 2021-08-12 at 10 12 36" src=

[2021-08-12 11:38] daissatou2 commented on #27
Is this `6565` for all the forms or only for `Register Skillz Plus Club` submissions?

I commented out all the other forms in the job so we only grab the responses for the one form. We also tried limiting the responses to the dates when we know there were only a handful of submissions and still didn't receive any response. For example, we know there was a submission on May 5th, 2021 (https://www.o

[2021-08-12 16:02] lakhassane commented on #27
@daissatou2 I pushed the changes as discussed

[2021-08-12 17:05] #27 closed

[2021-08-13 10:32] lakhassane commented on #28
@daissatou2 changes done
`referral_services` present: https://www.openfn.org/projects/pd3yk4/runs/renm57xd
`referral_services` missing: https://www.openfn.org/projects/pd3yk4/runs/rmknyr6z
`referral_services` & `CommCare_Ext_ID__C` type 1 present: https://www.openfn.org/projects/pd3yk4/runs/r5e8awkg
`referral_services` & `CommCare_Ext_ID__C` type 2 present: https://www.openfn.org/projects/pd3yk4/r

[2021-08-13 13:47] #28 closed

[2021-08-27 11:33] daissatou2 opened #29 "TypeError on Upsert Pre Challenges Job Run"
## Describe the bug
We are seeing this error for the `Upsert Pre Challenges` job:
`TypeError [ERR_UNESCAPED_CHARACTERS]: Request path contains unescaped characters`

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative of the bug: https://www.openfn.org/projects/pd3yk4/runs/rzdgeadm

### expression.js
Link to the job itself in Github: https://github.com/OpenFn/grassr

[2021-08-30 07:25] aleksa-krolls commented on #29
@daissatou2 Looks like Mamadou has resolved. Please re-process any failures and continue to let Mamadou know if any other issues pop up or help needed on GRS... you can add any new issues to the bottom of the backlog.

[2021-08-30 09:28] #29 closed

[2021-09-10 09:26] daissatou2 opened #30 "Add cleaning rule at the beginning of all jobs to replace emojis with an empty string"
## Describe the bug
Some of the jobs are failing because of an emoji in the message. Write a cleaning rule at the beginning of all jobs to replace emojis with an empty string.

## To Reproduce
1. Here is a link to a failed run on OpenFn.org which is indicative of the bug: https://www.openfn.org/projects/pd3yk4/runs/r7x6984w

### expression.js
Link to the job itself in Github: All jobs here https:/

[2021-09-10 10:47] lakhassane commented on #30
@daissatou2 do we know exactly all the fields we should clean? Doing it for all fields might be time consuming or should I focus only on `CommCare_Ext_ID__c`

[2021-09-10 10:50] lakhassane commented on #30
Also there are 24 jobs. Should we do it for all 24 or do you have a potential list of jobs using `CommCare_Ext_ID__c` that are failing and that we should focus on

[2021-09-13 20:29] daissatou2 commented on #30
@lakhassane let's just focus on `CommCare_Ext_ID__c` for these jobs:
`jobs/upsertCoachSessionRegister.js`
`jobs/2.a.upsertInterventions.js`
`jobs/upsertPHQ9.js`
`jobs/upsertAttendanceSkillsPlusClub.js`
`jobs/2.e.upsertCoach.js`
`jobs/2.c.upsertInterventionNotes.js`
`jobs/upsertPostChallenges.js`
`jobs/upsertPreChallenges.js`
`jobs/upsertRegisterEvent.js`
`jobs/2.d.upsertRegisterParticipant.js`
`jo

[2021-09-16 11:24] daissatou2 opened #31 "Make field multi-picklist on `Upsert Risk & Vulnerability Assessment | Service Referral` job"
## Describe the bug
This job is currently failing when multiple options are chosen for the `form.risk_assessment.gender_based_violence.abuse_experienced` field in state. Because this is a multi-picklist field, when multiple options are chosen in CommCare, the options are separated by a space in state. For example, in this [state](https://www.openfn.org/projects/pd3yk4/messages/mdbkjvwv), `form.ris

[2021-09-20 06:05] #12 closed

[2021-09-21 16:46] lakhassane commented on #31
@daissatou2 I made the change but it is failing for the same reason: https://www.openfn.org/projects/pd3yk4/runs/r3xky693

Are those valid values for SF?

[2021-09-21 17:11] lakhassane commented on #31
@chaiwa-berian we might need your input on something you worked on months ago :D

I'm seeing your function checked here https://github.com/OpenFn/grassroot-soccer/blob/master/jobs/upsertRiskVulnerabilityNewReferrals.js#L3-L6

Do you remember where `key` in that function is from. Here is an example of how that function is used in the code:
https://github.com/OpenFn/grassroot-soccer/blob/master/jobs

[2021-09-21 18:29] chaiwa-berian commented on #31
@lakhassane The `keys` were from the `sample data` that @daissatou2 had shared with me. But here is how it works:
If the data coming from `CommCare` is `space separated` and their corresponding fields in `Salesforce` are `Checkboxes` like:
1. **CommCare**
- Data comes in one space separated field like:
`{"check_the_services_that_client_was_referred_to": "value1 value2 value3"}`
- But each one of t

[2021-09-22 11:58] daissatou2 commented on #31
Thanks Chaiwa! CommCare is sending all the options that were selected for a multi-picklist question in one field and separating them by spaces. We have to parse that, splitting on the space, and then check/tick each separate answer choice from the state in Salesforce. So for the message above, we need to tick both `Physical` & `Emotional` in Salesforce.

![image](https://user-images.githubusercont

[2021-09-22 11:59] daissatou2 commented on #31
@lakhassane looks like we have docs on this: https://docs.openfn.org/documentation/apps/salesforce/#picklist-fields

[2021-09-22 12:16] lakhassane commented on #31
@daissatou2 green check right away :D https://www.openfn.org/projects/pd3yk4/runs/rwax5mkx

@chaiwa-berian great thanks for your help here

[2021-09-22 12:23] #31 closed

[2021-09-22 14:17] lakhassane commented on #30
@daissatou2 I remove emojis for some (see checked jobs in your comment).

For some of the remaning I don't see the emojis or I don't have a message for that job that can help me see the issue, so I'm holding them off until we have a failing run for them so I can see better.

[2021-09-27 16:47] aleksa-krolls commented on #30
@daissatou2 have you tested this and reprocessed affected runs? If yes, can we close?

[2021-09-28 11:25] daissatou2 commented on #30
@lakhassane here is an example of a message that still has the Dove: https://www.openfn.org/projects/pd3yk4/runs/0615275f-70cb-7e05-8c8f-064602b086e7

It is from `jobs/2.d.upsertRegisterParticipant.js` which I noticed hasn't been checked.

[2021-09-29 14:13] lakhassane commented on #30
@taylordowns2000 @elias-ba I update the list of jobs that potentially make use of `intervention_name` value (see the comment with the checklist).
`intervention_name` is the field with dove

[2021-10-01 08:20] aleksa-krolls commented on #30
@elias-ba Is this good to test on prod? Do any changes need to be made to the adaptor versions or anything?

@daissatou2 pls test today and let Elias know if any feedback.

[2021-10-01 08:22] elias-ba commented on #30
The initial issue is okay to test on prod. But the run itself has a missing fiel error. @daissatou2 will help with that today.

[2021-10-01 11:29] elias-ba commented on #30
@daissatou2 I am letting you do your tests on prod and ping if needed. Thanks

[2021-10-01 12:44] daissatou2 commented on #30
@elias-ba I am seeing the same error when I rerun on prod: https://www.openfn.org/projects/pd3yk4/runs/06157022-75d7-79b6-a0c9-f5f08d1dc9f0

[2021-10-01 12:50] elias-ba commented on #30
Hey @daissatou2 can you make sur you use `language-salesforce@v2.7.0` version in the job ? You see the little cloud icon, when you click on it you can specify the name and version of the adaptor to use. And try with that.

@taylordowns2000, @lakhassane how can we set the default adaptor to `v2.7.0` ?

[2021-10-01 12:53] daissatou2 commented on #30
@elias-ba I updated the adaptor and same error: https://www.openfn.org/projects/pd3yk4/runs/06157048-4eb5-749e-bc62-2d348e321ef7

[2021-10-01 13:00] elias-ba commented on #30
Okay normal I see the problem. Currently I only added the new version of the `removeEmoji` function is this job: https://www.openfn.org/projects/pd3yk4/jobs/jyp9j4. And that's not the one you're using in this run: https://www.openfn.org/projects/pd3yk4/runs/06157048-4eb5-749e-bc62-2d348e321ef7. I can add the function to the other jobs after my break and let you test. But can you test with the job

[2021-10-01 13:10] daissatou2 commented on #30
Oh I don't have a run that I can test with for `Upsert Pre Challenges`. Unfortunately, the old run links do not work. Please let me know when `Upsert Register Participant` is ready to test :)

[2021-10-01 13:35] elias-ba commented on #30
Okay @daissatou2 I will ping. But where can I find the list of fields to clean in all the jobs ? Shouldn't this information be in the mapping ? Is there any doc that can help me ?

[2021-10-01 15:15] daissatou2 commented on #30
@elias-ba It's in the issue on this [comment](https://github.com/OpenFn/grassroot-soccer/issues/30#issuecomment-918551396). I'll update the original comment but we are focusing on `CommCare_Ext_ID__c` for the jobs listed.

[2021-10-01 16:33] elias-ba commented on #30
Thanks a lot @daissatou2.

[2021-10-01 16:39] elias-ba commented on #30
@daissatou2 can you check the new version of the `Upsert Register Participant` in this run: https://www.openfn.org/projects/pd3yk4/runs/0615738f-b908-7547-bcbe-829e4b8f64d0 ? I tested in prod and it's successful now. Tell me if that's what you're expecting. Meanwhile, I continue to propagate the `removeEmoji` function to other jobs.

[2021-10-01 16:43] daissatou2 commented on #30
YAY! Thank you!

[2021-10-01 16:45] elias-ba commented on #30
Coool does that mean that we can check `Upsert Register Participant` in [this checklist](https://github.com/OpenFn/grassroot-soccer/issues/30#issuecomment-918551396) ?

[2021-10-01 16:47] elias-ba commented on #30
`Upsert Post Challenges` seems to be working too, is that right ?

[2021-10-01 17:14] elias-ba commented on #30
I have checked all the jobs in the checklist as they've all now the latest version of the `language-salesforce` adaptor and the `removeEmoji` function and their runs are all successful. Please @daissatou2 give it another round of test asap and tell me if there's anything that needs to be fixed. Otherwise I think this issue can be closed. Thanks

[2021-10-01 17:49] #30 closed

[2021-10-14 09:13] aleksa-krolls opened #32 "ReferenceError [Error]: sc is not defined"
## Describe the bug
See run failure: https://www.openfn.org/projects/pd3yk4/runs/06167f34-5790-7d69-bc23-26406c14cb48

## To Reproduce
Feel free to re-run on prod.

### expression.js
https://github.com/OpenFn/grassroot-soccer/blob/master/jobs/2.d.upsertRegisterParticipant.js

### state.json
See `GRS Salesforce Prod`
https://www.openfn.org/projects/pd3yk4/messages/061445aa-c000-7678-99db-28f58b6c3b

[2021-10-14 12:23] daissatou2 commented on #32
Hey @elias-ba we are seeing the same emoji error now: https://www.openfn.org/projects/pd3yk4/runs/06168202-196a-70dc-ac2a-7891ce7d7556

[2021-10-15 05:37] aleksa-krolls commented on #32
@elias-ba We will pick this up again on Monday, but can you please leave a status update here on GH regarding where you left off yesterday?
(Want to make sure there's not a quick here by switching the adaptor versions from `v2.7.1` to something else
 cc @taylordowns2000)

[2021-10-15 07:14] taylordowns2000 commented on #32
This `sc` typo was was introduced and fixed yesterday. Closing and moving recent comments to the correct issue.

[2021-10-15 07:14] #32 closed

[2021-10-26 01:08] daissatou2 opened #33 "TypeError on split function in Upsert Risk & Vulnerability Assessment | Service Referral"
## Describe the bug
I am seeing the error "TypeError [Error]: Cannot read property 'split' of undefined" for `Upsert Risk & Vulnerability Assessment | Service Referral`. We are calling the split function on several fields. Is there an easy way to determine which field(s) is causing this error without having to check each field? Maybe an update to the logs?

## To Reproduce
1. Here is a link to a f

[2021-10-27 03:45] #33 closed, assigned to lakhassane

[2021-10-27 04:02] daissatou2 opened #34 "Attendance Non Skillz failing for some messages"
## Describe the bug
The `Attendance Non Skillz` job is failing for certain messages because of the `replace` function.
This is a message that failed: https://www.openfn.org/projects/pd3yk4/messages/0614381b-b000-7ddc-aa95-1af58212b0e2
A message that passed: https://www.openfn.org/projects/pd3yk4/messages/0617805a-e87f-741e-9e39-fde5086b0d71

## To Reproduce
1. Here is a link to a failed run on Ope

[2021-10-28 17:04] daissatou2 opened #35 "Update the "Coach Session Register" job to handle 1 or more coaches"
## Background, context, and business value

The `Coach Session Register` job currently assumes that only 1 coach can be sent in the message so it's only upserting 1 Coach's attendance record. Let's update this job to recognize when more than one coach is sent.

## The specific request, in as few words as possible
We are getting the `CommCare_Ext_ID__c` for each coach's Attendance record using the

[2021-11-01 10:08] aleksa-krolls commented on #34
@daissatou2 Because this data is for a bad form version, can we close this issue? Any other GRS issues we should take a look at?

[2021-11-01 10:19] #34 closed

[2021-11-03 10:14] lakhassane commented on #35
@daissatou2 I have a question here.

When upserting multiple (let's say 2) attendances do we map the, same value for all the fields except `coach_name`?
Here is the mapping. The only changing value here is coach_name (`Person_Attendance__r`). Is that right?
[code]

[2021-11-03 15:28] daissatou2 commented on #35
Yes this looks good to me @lakhassane

[2021-11-04 15:17] lakhassane commented on #35
@daissatou2 feel free to test in this

[2021-11-09 07:30] aleksa-krolls commented on #35
@daissatou2 Let's get this out of backlog... please test, close this issue, and reprocess any failures.

[2021-11-10 09:53] daissatou2 commented on #35
@lakhassane this is still failing with a new error: https://www.openfn.org/projects/pd3yk4/runs/0618b969-1f8e-733c-8cee-0cf43982a5ae

[2021-11-11 11:06] lakhassane commented on #35
@daissatou2 this is fixed: https://www.openfn.org/projects/pd3yk4/runs/0618cf90-4c58-7c26-84c7-712f55e63b70

Some of the data we needed for upsert were being crashed inside the `each()`

[2021-11-15 10:38] #35 closed

[2022-02-11 09:54] daissatou2 opened #36 "`upsertRiskVulnerabilityNewReferrals` job not properly upserting Risk Assessment objects"
## Describe the bug
As discussed on the call, we made this [change](https://github.com/OpenFn/grassroot-soccer/commit/cd886d78dee4742bd74accf80809ec60a86cfb27) in the `upsertRiskVulnerabilityNewReferrals` job because I noticed that we are not upserting `Risk Assessments` even when they are present in the message. See this [run](https://www.openfn.org/projects/grs-integrations/runs/062041d9-d3c1-7d

[2022-02-11 10:14] lakhassane commented on #36
@daissatou2 can you link LP credentials to be able to test?

[2022-02-11 13:32] #36 closed

[2022-02-11 16:59] daissatou2 opened #37 "Add new mapping to upsertRiskVulnerabilityNewReferrals job"
## Background and specific request
As discussed, insert new mapping in the [upsertRiskVulnerabilityNewReferrals](https://github.com/OpenFn/grassroot-soccer/blob/master/jobs/upsertRiskVulnerabilityNewReferrals.js) job.

Commcare source value: `state.data.form.client_information.intervention_name`
SF Destination field: `Event__c` on the `Newreferrals__c` object

This field should be configured as a

[2022-02-14 10:50] lakhassane commented on #37
@daissatou2 corrections done here:

For when there is no `intervention_name`: https://www.openfn.org/projects/grs-integrations/runs/0620a337-d12c-7429-92ba-47c4f9279f6e

For when there is `intervention_name`: https://www.openfn.org/projects/grs-integrations/runs/0620a33a-3e7b-74e2-bea4-778b9c463777
For that one there is an error you need to check because the intervention_name value does not exist

[2022-02-15 18:00] #37 closed

[2022-02-21 12:57] daissatou2 opened #38 "Do not fail jobs if related Participant record not found"
## Background, context, and business value
The GRS team wants us to ignore certain `Register Participant` forms which are submitted. This is causing other forms which might reference the participant we didn't sync to fail. Let's update the appropriate jobs to not fail these runs but instead log a helpful message.

## The specific request, in as few words as possible

At the beginning of each of th

[2022-02-21 14:03] aleksa-krolls commented on #38
@daissatou2 fyi, I saw you created this and went ahead and added the Salesforce SOQL query to your request description above. Once you're done drafting this issue, please assign to @lakhassane and @grayey and move to Backlog.

[2022-02-22 07:28] aleksa-krolls commented on #38
@grayey @lakhassane can you two work on this today? Let @daissatou2 know if any questions.

[2022-02-22 09:05] grayey commented on #38
I will arrange with @lakhassane, see if we can today.

[2022-02-22 16:17] lakhassane commented on #38
@daissatou2 we made corrections. For job 2, 3 and 4. Find the succesfull runs here.

`upsertHomeVisitLog.js` => https://www.openfn.org/projects/grs-integrations/runs/062150b0-bbdb-78df-999c-a6c89bb48c8e
`upsertPostChallenges.js` => https://www.openfn.org/projects/grs-integrations/runs/062150a0-0478-7725-bdaa-5f186aee746e
`upsertPreChallenges.js` => https://www.openfn.org/projects/grs-integrations/

[2022-02-22 16:19] daissatou2 commented on #38
@lakhassane for `upsertAttendanceSkillsPlusClub` please use the first item in the array

[2022-02-22 18:52] daissatou2 commented on #38
@lakhassane @grayey moving this back to backlog, please do the same for the new job below:

[upsertAttendanceNonSkillz](https://github.com/OpenFn/grassroot-soccer/blob/master/jobs/upsertAttendanceNonSkillz) - `form.attendance_list.update_participant_cases.item[].@id` - [failed run](https://www.openfn.org/projects/grs-integrations/runs/06214f1b-e35c-7848-b241-8af9f0c82266). Please check the first i

[2022-02-23 11:31] grayey commented on #38
@daissatou2 this is done. [Here's a successful run](https://www.openfn.org/projects/grs-integrations/runs/062160e2-d3bf-74de-a948-dbc4aa959eed).

[2022-02-23 15:46] #38 closed

[2022-09-24 16:23] daissatou2 opened #40 "Update the `Attendance Non Skillz` job to NOT sync any data if no participant attendance data is provided"
## Background, context, and business value
We have been seeing `Attendance Non Skillz` messages in the OpenFn inbox that do not have any participant data. These are currently causing the [job](https://github.com/OpenFn/grassroot-soccer/blob/master/jobs/upsertAttendanceNonSkillz.js) to [fail](https://www.openfn.org/projects/grs-integrations/runs/0632996f-00ee-7c52-a056-05456630ae8d).

## The specif

[2022-09-26 10:51] ritazagoni commented on #40
hey @daissatou2 this is ready to test

[2022-09-27 03:07] #40 closed